body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  font-family: 'Arial', 'Pretendard Variable', sans-serif;
  word-break: keep-all;
  hyphens: none;
}

// 왼쪽 영역
.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 40px;
  height: 100vh;
  overflow-y: auto;
  align-content: flex-start;
  justify-content: space-between;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .portfolio-column {
    width: calc(50% - 8px);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .portfolio-item {
    width: 100%;
    display: block;
    position: relative;

    a {
      display: block;
      text-decoration: none;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.3s ease;
      }

      &:hover:after {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    img,
    video {
      width: 100%;
      height: auto;
      display: block;
    }

    video {
      object-fit: cover;
    }
  }
}

// 오른쪽 영역
.contents {
  width: 220%;
  height: 100vh;
  margin-right: 40px;
  padding-left: 10px;
  background: #fff;
  color: #000;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    text-decoration: none;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.3;
    }
  }
  .project {
    padding-bottom: 60px;
  }

  h1 {
    font-size: 4rem;
    letter-spacing: -1.28px;
    margin-bottom: 20px;
    padding-bottom: 28px;
    line-height: 100%;
  }
  #ig {
    text-decoration: none;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
  }
  #kr {
    line-height: 120%;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.8;
    font-family: 'Pretendard Variable';
    font-weight: 400;
    line-height: 150%;
  }

  .project-img {
    margin-top: 40px;
    background-color: #000;
  }
}

// 하단 고정 버튼
.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;

  img {
    width: 60px;
    height: 60px;
    animation: spin 6s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//모바일
@media (max-width: 622px) {
  body {
    flex-direction: column;
    overflow-y: auto;
  }

  .portfolio-gallery {
    display: none;
  }

  .contents {
    width: 100%;
    padding: 16px;
    margin: 0;

    h1 {
      font-size: 3rem;
      margin-top: 0;
      margin-bottom: 10px;
    }
    p {
      font-size: 1.125rem;
      line-height: 1.5;
      font-weight: 400;
    }
  }

  .fixed-button {
    top: 20px;
    bottom: auto;
    right: 20px;

    img {
      width: 50px;
      height: 50px;
    }
  }
}
